/* ===== GLOBAL ===== */
body {
    padding-top: 0;
    height: 100%;
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: rgb(222, 239, 231);
    color: black;
}

p {
    line-height: 1.5;
}

a {
    color: salmon;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

a:hover {
    color: grey;
}

a:active {
    color: #008CBA;
}

button:hover {
    color: salmon;
}

/* ===== HEADER ===== */
.header-container {
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 10rem 10rem 5rem 5rem;
    justify-content: center;
}

.header-item {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
    text-align: center;
    padding-left: 5rem;
    padding-right: 10rem;
}

.header-img-wrapper {
    width: 32rem;
    height: 22rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.header-button {
    height:5rem;
    width: 10rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
    padding: 0.1rem 1rem;
    font-size: 1rem;
    background-color: black;
    border: 1px solid salmon;
    border-radius: 0.1rem;
    color: white;
    cursor: pointer;
    position: relative;
    top: 22rem;
    right: 10rem;
}

/* ===== TEXT SECTIONS ===== */
#definitionOverpopulation,
#theproblem,
#solution {
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1rem 7rem;
}

#educate {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    padding: 0.5rem 7rem;
}


/* ===== VIDEO ===== */
.roundedBorderVideo {
    border-radius: 0.5rem;
    display: block;
    margin: 2rem auto;
}

/* ===== HEADINGS ===== */
h2 {
    text-align: center;
    font-size: 3rem;
    margin: 0.6rem 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    margin: 3rem;
}

h4 {
    margin: 5px 0;
}

/* ===== STATS SECTION ===== */
#linkToStats {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    text-align: center;
}

.statistics {
    display: flex;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0 8rem;
}

.statistics ul {
    width: 31rem;
    margin: 0rem 7.5rem 0.6rem 8rem;
}

.statistics li {
    padding: 1rem;
}

.statistics img {
    max-width: 30rem;
    max-height: auto;
    margin: auto;
    border-radius: 0.5rem;
}

/* ===== IMAGES ROW ===== */
#imagesRow {
    width: 25rem;
    height: 25rem;
    display: flex;
    justify-content: center;    
    gap: 4rem;
    margin: auto;
  
}

#imagesRow img {
    border-radius: 0.5rem;
}

/* ===== PETITION SECTION ===== */
.signNow {
    font-size: 2rem;
    margin-left: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.petition-container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 5rem 10rem;
}

.signatures {
    font-size: 1.5rem;
    margin-right: 2rem;
    padding-right: 0.6rem;
    font-weight: bold;
}

.error {
    border: 2px solid red;
    background: pink;
}

#signPetitionForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem;
    margin-bottom: 6rem;
}

#sign-petition {
    display: flex;
    gap: 3rem;
    align-items: center;
    font-size: 2rem;
}

#name,
#hometown,
#email {
    width: 16rem;
    height: 2.5rem;
    font-size: 1.1rem;
    padding: 0.5rem;
}

#signNowButton {
    padding: 1rem 2rem;
    font-size: 2rem;
}


/* ===== BOOKS SECTION ===== */
#Recommendations {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 1.3rem;
    margin-bottom: 0.3rem;
}

.booksSection {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10rem;
}

#bookOne,
#bookTwo,
#bookThree,
#bookFour {
    margin: 4rem;
    font-size: 1.3rem;
    padding: 2.5rem;
    width: 18rem;
    border: 3px solid salmon;
    border-radius: 0.5rem;
}

#title1,
#title2,
#title3,
#title4 {
    font-size: 3rem;
}

/* ===== NAVBAR ===== */
.navbar {
    position: fixed;
    z-index: 1;
}

#dog-names {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar ul {
    height: 5rem;
    margin-top: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row-reverse;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar ul li {
    list-style: none;
    color: white;
    display: flex;
    margin: 1rem 4rem 1rem 1rem;
}

.navbar ul li a,
.navbar label {
    display: block;
    font-family: Arial;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 5px;
}

.navbar ul li a:hover {
    color: salmon;
}

/* ===== BUTTONS ===== */
#theme-button,
#signNowButton {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: 1px solid salmon;
    font-size: 1rem;
    text-align: center;
    padding: 5px;
    margin: 0 3rem;
    cursor: pointer;
}

#theme-button:hover,
#signNowButton:hover {
    color: salmon;
}

/* ===== DARK MODE ===== */
.dark-mode {
    background-color: black;
    color: white;
}

/* ===== Navigation Button ===== */
#back-to-top {
    background: salmon;
    color: white;
    position: fixed;
    bottom: 6rem;
    right: 1rem;
    padding: 1rem 1rem;
    font-size: 1rem;
    display: none; 
}



#back-to-top:hover {
    background-color: salmon;
    color: black;
} 


/* ===== FOOTER ===== */
footer {
   

    color: white;
    left: 0;
    width: 100%;
    height: 10rem;
    background-color: black;
    text-align: center;
    font-style: oblique;
    font-size: 1.5rem;
    border-top: 2px solid salmon;
    padding-bottom: 10rem;
}

footer p,
footer h4 {
    color: white;
}

footer h4:hover {
    color: salmon;
}

footer h4:active {
    color: #008CBA;
}

#subFacts {
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}